<%- include('includes/head.ejs') %>
<h1>Mailing List</h1>
<% if (emailList && emailList.length) { %>
<table id="user-table">
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  <% emailList.map(({user_id, _id}, id) => { %>
  <tr>
    <td><%= id+1 %></td>
    <td><%= user_id.name %></td>
    <td><%= user_id.email %></td>
    <td>
      <form action="/mailing-list/delete/<%= _id %>" method="POST">
        <input type="hidden" name="id" value="<%= _id %>" />
        <button type="submit" onclick="deletePrompt(event)" class="delete">
          🗑 Remove
        </button>
      </form>
    </t>
  </tr>
  <% }) %>
</table>
<% } else { %>
<h2>No mails in the list!</h2>
<% } %>
<script>
  const deletePrompt = (e) => {
    const answer = confirm(
      'Are you sure to remove this user from the mailing list?'
    );
    if (!answer) {
      e.preventDefault();
    }
  };
</script>
<%- include('includes/end.ejs') %>
