<%- include('includes/head.ejs') %>
<h1>Add new users to the list</h1>
<%- include('includes/form.ejs') %>
<h1>Users list:</h1>
<% if (users && users.length) { %>
<table id="user-table">
  <tr>
    <th>No</th>
    <% for (const [key, value] of Object.entries(users[0])) { %> <% if(key !==
    "id"){ %>
    <th><%= key %></th>
    <% } %> <% } %>
    <th>Action</th>
  </tr>
  <% users.map((user, id) => { %>
  <tr>
    <td><%= id+1 %></td>
    <% for (const [key, value] of Object.entries(user)) { %> <% if(key !==
    "id"){ %>
    <td><%= value %></td>
    <% } %> <% } %>
    <td>
      <a href="/users/<%= user._id %>"><button>More Info</button></a>
    </td>
  </tr>
  <% }) %>
</table>
<% } else {%>
<h2>No users found!</h2>
<% }%> <%- include('includes/end.ejs') %>
