<%- include('includes/head.ejs') %>
<h1>Name: <%= user.name %></h1>
<p>Email: <%= user.email %></p>
<hr />
<button onclick="toggleEdit()" class="<%= edit ? 'active' : '' %>">Edit</button>
<form action="/mailing-list" method="POST">
  <input type="hidden" name="id" value="<%= user._id %>" />
  <button type="submit">Add to Mailing List</button>
</form>
<form action="/users/delete/<%= user._id %>" method="POST">
  <input type="hidden" name="id" value="<%= user._id %>" />
  <button type="submit" onclick="deletePrompt(event)" class="delete">
    Delete
  </button>
</form>
<a href="/users"><button>Back</button></a>
<% if (edit) { %>
<hr />
<%- include('includes/form.ejs') %> <% } %>
<script>
  const toggleEdit = () => {
    var queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    let edit;
    if (urlParams.get('edit') === 'true') {
      edit = false;
    } else {
      edit = true;
    }
    urlParams.set('edit', edit);
    window.location.search = urlParams;
  };
  const deletePrompt = (e) => {
    const answer = confirm('Are you sure you want to delete this user?');
    if (!answer) {
      e.preventDefault();
    }
  };
</script>
<%- include('includes/end.ejs') %>
